# Lab 8
**Important**: Before uploading to Gradescope, be sure to comment out any code that might cause a `StopIteration` error.
___

### Generator 1
**Create a generator function** called **`seq1(n)`** that returns the `n` terms in the finite sequence $a_1 = 1$, $a_n = 2a_{n-1}+5$, one at a time.
```
seq1_gen = seq1(10)
print(next(seq1_gen))
print(next(seq1_gen))
print(next(seq1_gen))
print(next(seq1_gen))
```
displays
```
1
7
19
43
```

In [5]:
def seq1(n):
    term = 1
    count = 1
    while count<=n:
        yield term
        count += 1
        term = 2*term +5

In [6]:
seq1_gen = seq1(10)
print(next(seq1_gen))
print(next(seq1_gen))
print(next(seq1_gen))
print(next(seq1_gen))

1
7
19
43

### Generator 2
**Create a generator function** called **`seq2()`** that returns the terms in the infinite sequence $a_1 = 1$, $a_n = \left(a_{n-1}^2 - 2a_{n-1}+10 \right) \pmod {2003}$, one at a time.

$$\{1, 9, 73, 1187, \ldots \}$$

In [2]:
def seq2():
    term = 1
    while True:
        yield term
        term = (term**2 - 2*term + 10) % 2003

In [3]:
seq2_gen = seq2()
print(next(seq2_gen))
print(next(seq2_gen))
print(next(seq2_gen))
print(next(seq2_gen))

1
9
73
1187

### Generator 3
**Create a generator function** called **`seq3()`** that returns the terms in the infinite sequence $a_1 = 1$, $a_2 = 2$, $a_n = a_{n-1} + 3a_{n-2}$, one at a time. 

$$\{1, 2, 5, 11, 26, \ldots \}$$

In [5]:
def seq3():
    term1 = 1
    yield term1
    term2 = 2
    yield term2
    while True:
        term3 = term2 + 3*term1
        yield term3
        term1 = term2
        term2 = term3

In [7]:
seq3_gen = seq3()
print(next(seq3_gen))
print(next(seq3_gen))
print(next(seq3_gen))
print(next(seq3_gen))
print(next(seq3_gen))

1
2
5
11
26

### Generator 4
**Create a generator function** called **`flatland_row()`** that returns the lines in `flatland.txt`, one at a time.

In [8]:
def flatland_row():
    for row in open('flatland.txt'):
        yield row

In [14]:
f_row = flatland_row()

In [15]:
for _ in range(10):
    print(next(f_row))

Flatland:  A Romance of Many Dimensions



Edwin A. Abbott (1838-1926.  English scholar, theologian, and writer.)







  -----------------------------------------------------------------

  |        "O day and night, but this is wondrous strange"        |

  |        ______                                                 |

  |       /       /     /|   ------  /     /|      /|    /  /-.   |

In [16]:
next(f_row)

'  |     /----   /     /__|    /    /     /__|    /  |  /  /   /   |\n'

In [84]:
next(f_row)

'  14.  How I vainly tried to explain the nature of Flatland\n'